@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto+Condensed&display=swap');


/* About */
.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 150px 0;
    transition: 1s;
}

.about .text{
    height: 300px;
    padding: 100px 30px;
    border-right: 1px solid #009342;
}

.about h1 {
    font-size: 5rem;
    color: #009342;
}

.about p {
    font-size: 20px;
    color: #dfd701;
}

.about img{
    width: 300px;
    height: 300px;
}

.container h1{
    font-size: 4rem;
    text-align: center;
    color: #009342;
}

.container .jurusan{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 35px; */
    /* padding: 20px 10px; */
}

.container .jurusan div{
    padding: 25px;
}

.container .jurusan img{
    width: 200px;
    height: 200px;
    border: 5px solid #009342;
    border-radius: 50%;
}

.container .jurusan h3{
    width: 200px;
    color: #dfd701;
    font-size: 15px;
    text-align: center;
}

.ppdb{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: #009342;
    margin-top: 100px;
}

.ppdb h1{
    margin-right: 150px;
    font-size: 5rem;
    color: #fff;
    text-align: center;
}

.ppdb button{
    /* border: 3px solid grey; */
    border-style: none;
}

.ppdb a{
    width: 200px;
    height: 55px;
    text-align: center;
    padding-top: 10px;
    background-color: #dfd701;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.ppdb a:hover{
    padding-top: 9px;
    background-color: #009342;
    border: 3px solid #dfd701;
}


/* Footer */
.footer{
    /* margin-top: 150px; */
    width: 100%;
    /* padding: 40px 0; */
    z-index: -999;
    background-color: #fff;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #009342;
}

.footer .social a{
    padding-left: 1px;
    padding-top: 4px;
    font-size: 25px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #009342;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    text-decoration: none;
}

.footer .social a:hover{
    color: #dfd701;
    border: 1px solid #dfd701;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a{
    color: #009342;
}

.footer ul li a:hover{
    color: #dfd701;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #009342;
}

.footer h3{
    margin-top: 35px;
    text-align: center;
    font-size: 13px;
    color: #009342;
}

/* @media (max-width:1200px){   
    .about {
        padding: 1rem 4rem;
    }
} */

@media (max-width:1081px){
    .ppdb{
        margin-top: 350px;
    }
}

/* @media (max-width:1081px){
    .ppdb h1{
        padding-left: 150px;
    }
} */

@media (max-width:991px){
    .ppdb{
        margin-top: 150px;
    }
}

@media (max-width:781px){
    .ppdb{
        margin-top: 350px;
    }
}

@media (max-width:739px){
    .ppdb h1{
        padding-left: 150px;
    }
}

@media (max-width:689px){
    .ppdb h1{
        padding-left: 0;
        margin-right: 20px;
    }
}



@media (max-width:598px){
    .about{
        padding: 0;
    }

    .about .text{
        height: 50px;
        padding: 70px 30px; 
        border-right: 0px solid #009342;
        border-bottom: 1px solid #009342;
    }

    .about h1{
        font-size: 4rem;
    }

    .about p{
        font-size: 15px;
    }
}

@media (max-width:531px){
    .ppdb{
        margin-top: 1000px
    }
}

@media (max-width:409px){
    .ppdb{
        height: 200px;
    }
}